#root {
	width: 100vw;
	min-height: 100vh;
	padding: 2rem;
	background-color: azure;
}

button {
	cursor: pointer;
	padding: 1rem;
	border: 1px solid #000000;
	border-radius: 5px;
	transition: all ease-in-out .5s;
}
button:hover {
	background-color: cornflowerblue;
	color: aliceblue;
	box-shadow: 0px 0px 1px black;
}

button[type=button], input[type=submit] {
	box-shadow: 0px 0px 2px black;
	text-shadow: 0px 0px 2px black;
	transition: all ease-in-out .5s;
}
button[type=button], input[type=submit]:hover {
	text-shadow: 0px 0px 5px black;
	cursor: pointer;
}

.button--reset {
	margin-left: .3rem;
}